
@using Inventory.Models
@using System.Data
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .col-name {
        white-space: nowrap;
    }
    .table-data {
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
    }
</style>

<script>

    var message = '@(TempData["OutMessage"] ?? "")';
    if (message !== "") {
        alert(message);
    }
    //legacy part
    //function openModal() {
    //    document.getElementById("dvOverlay").style.display = "";
    //    document.getElementById("dvModal").style.display = "";
    //}

    //function hideModal() {
    //    document.getElementById("dvOverlay").style.display = "none";
    //    document.getElementById("dvModal").style.display = "none";
    //}

    //dynamic part
    function openModal() {
        $('#dvModal').dialog({
            modal: true,
            title: 'Equipment Entry',
            width: 400,
            height: 500
        });
    }
    function UpdateItem(EquipmentId, EquipmentName, Quantity, EntryDate, ReceiveDate) {
        let previousQuantity = Quantity;
        $('#HdnEquipmentId').val(EquipmentId);
        $('#EquipmentName').val(EquipmentName);
        $('#Quantity').val(Quantity);
        $('#EntryDate').val(EntryDate);
        $('#ReceiveDate').val(ReceiveDate);
        $('#submit-btn').val("Update");
        $('#EntryDate').prop('disabled', true);
        $('#Quantity').on('blur', function () {
            var current = parseInt($(this).val());
            if (current < previousQuantity) {
                alert("Quantity cannot be less than previous value: " + previousQuantity);
                $(this).val(previousQuantity);
            }
        });
        $('#dvModal').dialog({
            modal: true,
            title: 'Equipment Update',
            width: 400,
            height: 500,
            close: function () {
                // Reset everything to defaults
                $('#EquipmentName').val('');
                $('#Quantity').val('');
                $('#EntryDate').val('').prop('disabled', false);
                $('#ReceiveDate').val('');
                $('#submit-btn').val('Save');
                previousQuantity = 0;
            }
        });
    }
</script>

<div class="row">
    <div class="col col-sm-6">
        <div style="width: 100%">
            <div style="height: 30px; background:cornsilk;text-align: center; padding: 5px; border-radius: 5px">
                Equipment List
                <input class="btn btn-success" type="button" value="New" style="float: right" onclick="openModal()" />
            </div>
            <div style="max-height: 400px; width: 100%; overflow: auto">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th>Update</th>
                            <th>Delete</th>
                            <th>Equipment Name</th>
                            <th>Quantity</th>
                            <th>Stock</th>
                            <th>Entry Date</th>
                            <th>Receive Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            List<BaseEquipment> equipmentList = (List<BaseEquipment>)ViewBag.EquipmentList;
                            foreach (BaseEquipment equipment in equipmentList)
                            {
                                <tr>
                                    <td class="table-data"><input class="btn btn-primary" type="button" value="Update" onclick="UpdateItem(@equipment.EquipmentId, '@equipment.EquipmentName', @equipment.Quantity, '@equipment.EntryDate.ToString("yyyy-MM-dd")', '@equipment.ReceiveDate.ToString("yyyy-MM-dd")')" /></td>
                                    <td class="table-data"><input class="btn btn-danger" type="button" value="Delete"/></td>
                                    <td class="table-data">@equipment.EquipmentName</td>
                                    <td class="table-data">@equipment.Quantity</td>
                                    <td class="table-data">@equipment.Stock</td>
                                    <td class="table-data">@equipment.EntryDate</td>
                                    <td class="table-data">@equipment.ReceiveDate</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col col-sm-6">
        <div style="width: 100%">
            <div style="height: 30px; background: cornsilk; text-align: center; padding: 5px; border-radius: 5px ">
                Assignment History
                <input class="btn btn-success" type="button" value="New" style="float: right" onclick="window.location.href='@Url.Action("NewEquipmentAssignment", "DashBoard")'"/>
            </div>
            <div style="max-height: 400px; width: 100%; overflow: auto">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th>Update</th>
                            <th>Delete</th>
                            <th class="col-name">Customer Name</th>
                            <th class="col-name">Customer Mobile</th>
                            <th class="col-name">Equipment Count</th>
                            <th class="col-name">Equipment Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            BaseEquipment baseEquipment = new BaseEquipment();
                            DataTable dt = baseEquipment.ListAssignedEquipment();
                            var dataList = (from p in dt.AsEnumerable()
                                            select new
                                            {
                                                CustomerId = p.Field<Int32>("CustomerId"),
                                                CustomerName = p.Field<String>("CustomerName"),
                                                CustomerMobile = p.Field<String>("CustomerMobile"),
                                                CustAddress = p.Field<String>("CustAddress"),
                                                EquiCount = p.Field<Int32>("EquiCount"),
                                                EquipmentName = p.Field<String>("EquipmentName"),
                                                AssignmentId = p.Field<Int32>("AssignmentId")
                                            }).ToList();
                            foreach (var obj in dataList)
                            {
                                string disabledStr = obj.AssignmentId > 0 ? "" : "disabled";
                                <tr>
                                    <td class="table-data">                                       
                                        <input class="btn btn-primary" type="button" value="Update" @disabledStr />                                                                                  
                                    </td>
                                    <td class="table-data">                                      
                                        <input class="btn btn-danger" type="button" value="Delete" @disabledStr />                                        
                                    </td>
                                    <td class="table-data">@obj.CustomerName</td>
                                    <td class="table-data">@obj.CustomerMobile</td>
                                    <td class="table-data">@obj.EquiCount</td>
                                    <td class="table-data">@obj.EquipmentName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PartialEquipmentEntry")