
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <style>
        .clsLoginWrapper {
            height: 500px;
            width: 400px;
            position: fixed;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            margin: auto;
        }

        .forgotPass {
            display: block;
            text-align: center;
            color: #0866ff;
            text-decoration: none;
            cursor: pointer;
        }

        .forgotPass:hover {
            text-decoration: underline;
        }

        .sign-up-btn {
            width: 60%;
        }
    </style>
    @{
        string SessionUser = "";
        if (Session["UserName"] != null) {
            SessionUser = Session["UserName"].ToString();
        }
    }
<script>
    var username = '@SessionUser';
    if (username != "") {
        alert("Login success, username: " + username);
        window.location.href = '@Url.Action("Index", "DashBoard")';
    }
    let message = '@TempData["Message"]';
    if (message != "") {
        alert(message);
    }
</script>
</head>
<body>
    <div id="dvLoginWrapper" class="clsLoginWrapper"> 
        <div style="position: absolute;left: 0px;right: 0px; top: 0px; bottom: 0px; margin: auto; width: 90%; height: 400px">
            <form action="@Url.Action("Login", "Auth")" method="post">
                <div class="card">
                    <div class="card-header" style="text-align:center">
                        Login
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Username</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="txtUserName" placeholder="username">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput2" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleFormControlInput2" name="txtPassword" placeholder="password">
                        </div>
                        <input type="submit" class="btn btn-primary mb-3" style="width: 100%" value="Log in" />
                        <a class="forgotPass" href="@Url.Action("ForgotPassword","Auth")">Forgotten password?</a>
                        <hr style="background: #fff; color: #1c1e21;" />
                        <div style="text-align: center"> 
                            <button type="button" class="btn btn-success sign-up-btn" onclick="location.href='@Url.Action("Register", "Auth")'">Sign up</button>
                        </div>
                       
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
